*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.App{
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  width: 700px;
  height: 700px ;
  overflow-y: auto;
  border: 2px solid #EAEBEC;
  margin-left: 400px;
  margin-top: 20px;
  /* border: 2px solid red; */

}
::-webkit-scrollbar { 
  display: none;
}

.allcard{
  margin-top: 10px;
}